Library
Logs
Packages
python/Linux
python/models
python/summaries
README.ipynb

Assets/ML-Agents
Assets/Gizmos
Assets/Skybox

**/*.pyc
**/__pycache__
**/.Rhistory
**/.ipynb_checkpoints
/dist/
/*.egg-info

data/*
**/*.pkl
**/*.log
**/*.DS_Store
