Library
Logs
Packages
ProjectSettings
python/Linux
python/models
python/summaries
README.ipynb

**/*.pyc
**/__pycache__
**/.Rhistory
**/.ipynb_checkpoints
/dist/
/*.egg-info

data/*
**/*.pkl
**/*.meta
**/*.log
**/*.csproj
**/*.sln
**/*.DS_Store
